* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Lato', sans-serif;;
}

body {
    background: url('https://thumb2.holidaypirates.com/R9DqqCD_aPE66RhyjWX_pjwwmfI=/1314x600/https://media.holidaypirates.com/images/2015/07/takamaka-beach-seychelles-1436829292-vta1.jpg') no-repeat center fixed;
	background-size: cover;
}

.bussiness-card {
    background-color: rgba(91, 98, 118, 0.9);
    width: 500px;
    height: 300px;
    margin: 200px auto 0 auto;
    padding: 30px;
}

.half-card {
    float: left;
    width: 50%;
    padding: 5px;
}

.half-card h3 {
    color: #3fa8e0;
}

.half-card h2 {
    color: white;
    padding: 20px 0;
    text-transform: capitalize;
}

.half-card h2 span {
    padding-left: 20px;
}

.half-card p {
    color: #a2adbf;
    padding-bottom: 20px;
}

.half-card .phone-div {
    border-top: 1.5px dashed #a2adbf;
    width: 100%;
}

.half-card .review-top {
    width: 100%;
    height: 140px;
    background-color: #ebeef3;
    margin-top: 10px;
}

.half-card .review-top img {
    display: block;
    width: 60px;
    border-radius: 100%;
    margin: 0 auto 0 auto;
    position: absolute;
    top: -30px;
    right: 77.5px;
}

.half-card .review-top .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    top: 40px;
    font-size: 1.9em;
    color: #b8bcc8;
}

.half-card .review-top .rating > span {
  display: inline-block;
  width: 1.1em;
}

.half-card .review-top .rating > span:hover:before,
.half-card .review-top .rating > span:hover ~ span:before {
   color: #f3c532;
   content: "\2605";
   position: absolute;
   cursor: pointer;
}

.half-card .review-bottom {
    width: 100%;
    height: 140px;
    background-color: #3fa8e0;
}

.half-card .review-bottom textarea {
    padding: 10px;
    top: -40px;
    width: 80%;
    height: 130px;
    left: 20px;
}

.half-card .review-bottom textarea::placeholder {
    font-style: italic;
}

.half-card .review-bottom button {
    background-color: #3fa8e0;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.1em;
    margin: 10px auto;
    width: 80%;
    display: block;
    top: -45px;
}

.half-card .review-bottom .fa-paper-plane-o {
    transform: rotate(60deg);
    margin-left: 10px;
}