* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', 'Helvetica', 'Arial', sans-serif;
    position: relative;
    color: white;
    direction: rtl;
}

.form-top {
    background-color: #C40019;
    width: 380px;
    height: 370px;
    margin: 20px auto 0 auto;
    border-radius: 10px 10px 0 0;
}

.form-top h1 {
    font-size: 2em;
    text-align: center;
    padding: 25px;
    font-weight: 400;
}

.form-top input {
    display: block;
    width: 85%;
    margin: 0 auto;
    border-radius: 5px 5px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1em;
    padding-right: 20px;
    color: black;
    background-color: #E8E7E7;
}

.form-top input::placeholder {
    color: #4d536b;
    font-weight: bold;
}

.form-top input:focus {
    background-color: white;
    direction: ltr;
    padding-left: 20px;
}

.form-top input:focus::placeholder {
    color: white;
}

.form-top .login-button {
    background-color: white;
    border: none;
    color: #C40019;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.2em;
    margin: 25px auto;
    width: 45%;
    border-radius: 50px;
    display: block;
}

.form-top .login-button:hover {
    background-image: linear-gradient(#E8E7E7, #FEFEFF);
}

.form-top a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

.form-bottom {
    background-color: #AE0117;
    width: 380px;
    height: 220px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    padding-top: 45px;
}

.form-bottom button {
    display: block;
    background-image: linear-gradient(#E7E8F0, #FEFEFF);
    border: none;
    width: 85%;
    margin: 0 auto;
    border-radius: 5px 5px;
    height: 80px;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}

.form-bottom button:hover {
    background-image: linear-gradient(#FEFEFF,#E7E8F0);
}

.form-bottom img {
    display: inline-block;
    width: 40px;
    padding-left: 15px;
    vertical-align: middle;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.3)));
}

.form-bottom a {
    display: block;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    margin: 25px;   
}